---
layout: default
css-include: /css/main.css
sorted: 1
summary: Kirogi is a ground control application for drones available on smartphones, tablets and desktop PCs.
tags: [drones, quadcopter, UAV, ground control, fpv, parrot, ryze, tello, anafi, bebop, mavlink]
---

<main aria-label="Content" id="content" class="container">
    <div style="max-width: 90%" class="ml-auto mr-auto mt-3 mb-1">
        <figure style="padding-bottom: calc((940/1640)*100%)" class="position-relative">
            <img src="assets/img/kirogi.webp" alt="Screenshot of Kirogi's flight controls" class="img-fluid position-absolute" />
        </figure>
    </div>
    <h1>About</h1>
    <p>Kirogi is a ground control application for drones. Take to the skies, open source-style.</p>
    <p>Kirogi is being developed for smartphones, tablets and desktop PCs.</p>
    <h1>Features</h1>
    <ul>
      <li>Direct flight controls</li>
      <li>Fly by touch on a Navigation Map</li>
      <li>Trigger vehicle actions (e.g. flips, trim)</li>
      <li>Gamepad/joypad support</li>
      <li>Live video</li>
      <li>Configure flight parameters (speed, altitude limits)</li>
    </ul>
    <p>You can find out more about planned features <a href="https://invent.kde.org/kde/kirogi/blob/master/TODO.md">here</a>.</p>
    <h1>Supported Drones</h1>
    <p>Kirogi currently supports the following models:</p>
    <ul>
      <li>Parrot Anafi</li>
      <li>Parrot Bebop 2</li>
      <li>Ryze Tello</li>
    </ul>
    <p>Additionally, support for the <a href="https://en.wikipedia.org/wiki/MAVLink">MAVLink</a> protocol is in early development, enabling control of many drones natively speaking this protocol.</p>
    <p>Support for many more drone models from a variety of manufacturers is planned, as well as support for the <a href="http://www.multiwii.com/wiki/index.php?title=Multiwii_Serial_Protocol">MultiWii Serial Protocol (MSP)</a>.</p>
    <h1>Status</h1>
    <p>Kirogi is in early development. While already usable, the project has not issued a stable release yet. Pre-release builds for various platforms, and the source code, are available from the <a href="download.html">Download</a> page.</p>
    <h1>The Mascot</h1>
    <div class="text-center"><img src="assets/img/goose.webp" alt="Kirogi's mascot" class="w-50 pt-1 pb-2"></div>
    <p><i>Wild</i> geese are known as expert flyers. Kirogi's mascot is a farm goose with an adventurous spirit, who flies just as well thanks to the use of superior technology.</p>
    <p>Kirogi's mascot does not have a name yet. We'll pick one based on community suggestions!</p>
    <h1>More</h1>
    <p>Check out our <a href="faq.html">FAQ</a> page for additional information.</p>
    <div></div>
</main>
